*.qgs~
**/.DS_Store
**/*.pyc
**/*.gpkg-shm
**/*.gpkg-wal
.autoenv*.zsh
.vscode
cicd/osm/tmpdata/**
output/*
cicd/compare/pr/shas.txt
cicd/imagery/output/**
cicd/imagery/tmp/**
# Service Account auth key
cicd/upload/*-key.json
!**/*.gitkeep